html, 
body{
    padding : 0;
    margin : 0;
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    -ms-overflow-style: none;
}

a {
    color : #4b4b4b;
    text-decoration: none;
}

.no-scroll {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}